$smallerDevicesMaxWidth: 360px;
$maxWidth: 700px;
$minWidth: 701px;
$maxHeight: 600px;


.content {
  width: 50%;
  box-sizing: border-box;
  background-color: white;
}

.headerTitle {
    text-align: center;
    //border-bottom: solid #007ACC 2px;
    border-bottom: solid #4185F4 2px;
    margin: 30% 20% 5% 20%;
    font-size: 24px;
}

.mainContent {
  text-align: center;

}

.sidePicture {
    height: 500px;
}

@media (max-width: $maxWidth) {
  .header {
    height: 54px;
  }
}
@media (min-width: $minWidth) and (min-height: $maxHeight) {
  .header {
    height: 72px;
  }
}
// headerMenu
.headerMenu {
  list-style: none;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.headerMenu li a {
  display: block;
  text-decoration: none;
}
@media (max-width: $maxWidth) {
  .headerMenu li a {
    padding: 3px 10px 5px 0;
    font-size: 16px;
  }
}
@media (max-width: $smallerDevicesMaxWidth) {
  .headerMenu li a {
    padding: 3px 5px 5px 0;
    font-size: 13px;
  }
  .fas {
    font-size: 13px;
  }
}
@media (min-width: $minWidth) {
  .headerMenu li a {
    padding: 15px 15px;
    font-size: 22px;
  }
}