$smallerDevicesMaxWidth: 360px;
$maxWidth: 700px;
$minWidth: 701px;
$maxHeight: 600px;



// For Intro-Part

.introContainer {
  width: 40%;
  box-sizing: border-box;
  background-color: white;
  margin-right: 10%;
}

@media (max-width: $maxWidth) {
  .introContainer {
    width: 100%;
    box-sizing: border-box;
    background-color: white;
  }
}

.noBorderBottom {
  border-bottom: none !important;
}

@media (max-width: $maxWidth) {
  .header {
    height: 54px;
  }
}
@media (min-width: $minWidth) and (min-height: $maxHeight) {
  .header {
    height: 72px;
  }
}

.headerTitle {
    text-align: center;
    //border-bottom: solid #007ACC 2px;
    border-bottom: solid #4185F4 2px;
    margin: 34% 20% 3% 20%;
    font-size: 24px;
}

.mainContent {
  text-align: center;

}

// For About-Part

.about {
  text-align: center;
}

.aboutContainer {
  margin-top: 80px;
  margin-left: 10%;
}

.aboutTitle {
  text-align: center;
  border-bottom: solid #4185F4 2px;
  margin: 8% 20% 5% 20%;
  font-size: 24px;
}

.aboutContent {
  margin: 0 3rem 0 3rem;
  width: 30rem;
}

.sidePicture {
    height: 500px;
}


// headerMenu
.headerMenu {
  list-style: none;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.headerMenu li a {
  display: block;
  text-decoration: none;
}
@media (max-width: $maxWidth) {
  .headerMenu li a {
    padding: 3px 10px 5px 0;
    font-size: 16px;
  }
}
@media (max-width: $smallerDevicesMaxWidth) {
  .headerMenu li a {
    padding: 3px 5px 5px 0;
    font-size: 13px;
  }
  .fas {
    font-size: 13px;
  }
}
@media (min-width: $minWidth) {
  .headerMenu li a {
    padding: 15px 15px;
    font-size: 22px;
  }
}