$smallerDevicesMaxWidth: 360px;
$maxWidth: 700px;
$minWidth: 701px;
$maxHeight: 600px;


.header {
  width: 100%;
  margin-bottom: 24px;
  //position: fixed;
  //z-index: 1;
  //border-bottom: 1px solid rgba(205, 205, 205, 0.4);
  box-sizing: border-box;
  background-color: white;
  //box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);

  //   fix at the top of page
  top: 0px;
  padding: 0 1rem 0 1rem;

  display: flex;
  // to have logo on the left and links on the right
  justify-content: space-between;

}



@media (max-width: $maxWidth) {
  .header {
    height: 54px;
  }
}
@media (min-width: $minWidth) and (min-height: $maxHeight) {
  .header {
    height: 72px;
  }
}

@media (max-width: $smallerDevicesMaxWidth) {
  .header-icon {
    font-size: 12px;
  }
}
// headerMenu
.headerMenu {
  list-style: none;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.headerMenu li a {
  display: block;
  text-decoration: none;
}

.currentPage {
  border-bottom: solid 2px;
  font-weight: bold;
}

.iconStyle {
  color: #4185F4;
  font-size: 5rem;
  margin: 8px;
}

@media (max-width: $maxWidth) {
  .headerMenu li a {
    margin: 3px 10px 5px 0;
    font-size: 16px;
  }
}
@media (max-width: $smallerDevicesMaxWidth) {
  .headerMenu li a {
    margin: 3px 5px 5px 0;
    font-size: 13px;
  }
  .fas {
    font-size: 13px;
  }
}
@media (min-width: $minWidth) {
  .headerMenu li a {
    margin: 15px 15px;
    padding: 5px 5px;
    font-size: 22px;
  }
}